# [Numerical Computing](https://aadimator.github.io/numerical-computing)
#### Notes by Aadam - [@aadimator](https://github.com/aadimator)

# Newton's Method and Its Extensions
## Newton's Algorithm

In [ ]:
'''
To find a solution to f(x) = 0 given an initial approximation p₀ :
INPUT initial approximation p₀ ; tolerance TOL; maximum number of iterations N₀ .
OUTPUT approximate solution p or message of failure.
Step 1 Set i = 1.
Step 2 While i ≤ N₀ do Steps 3–6.
    Step 3 Set p = p₀ − f(p₀ )/f'(p₀). (Compute pᵢ .)
    Step 4 If |p − p₀ | < TOL then
            OUTPUT (p); (The procedure was successful.)
            STOP.
    Step 5 Set i = i + 1.
    Step 6 Set p₀ = p. (Update p₀ .)
Step 7 OUTPUT (‘The method failed after N₀ iterations, N₀ =’, N₀ );
        (The procedure was unsuccessful.)
        STOP.
'''

## Newton's Code

In [11]:
import pandas as pd
from sympy import *
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
from plotly.graph_objs import *
import numpy as np

init_notebook_mode(connected=True)

def NewtonsMethod(
    p0, 
    equation, 
    tolerance=0.000001, 
    max_iterations=50, 
    output='answer', 
    plot=False,
    stopping_criterion='tolerance', 
    iteration=50 
):
    '''
    The Newton's Method
    
    Keyword arguments:
    p0 (double) -- initial approximation p₀
    equation -- an equation of 'x' that we need to evaluate
    tolerance (double) -- error tolerance (default = 0.000001)
    max_iterations (int) -- number of maximum iterations (default = 50)
    output (string) -- how to output the result (default = 'answer')
                possible values are:
                  - 'answer' : to show the value of "p"
                  - 'table' : to show all the values in tabular form
    plot (bool) -- whether to show plot or not (default=False)
    stopping_criterion (string) -- when to stop the processing (default = 'tolerance')
                possible vaulse are:
                  - 'tolerance' : to stop at a certain tolerance level
                  - 'iteration' : to stop at a certain iteration (must provide value for 'iteration' argument)
    iteration (int) -- on which iteration to stop the processing (default = 50)
    
    Returns:
    
    It will return the value according to the value in 'output' argument.
    If value of output is 'answer', it will return a float. If it is 'table', it will return a DataFrame.
    '''
    
    f = lambdify(x, equation)
    df = lambdify(x, equation.diff(x))
    
    if (plot):
        N = 100
        X = np.linspace(-5, 5, N)
        Y = list(map(f, X))
    
    if (output == "table" or plot):
            P = list()
            FP = list()
            labels = list()
            P.append(p0)
            FP.append(f(p0))
            labels.append('P0')
            
    for i in range(1, max_iterations):
        p = p0 - (f(p0)/df(p0))
        
        if (output == "table" or plot):
            P.append(p)
            FP.append(f(p))
            labels.append("P"+str(i))
        
        if (abs(p - p0) < tolerance or (stopping_criterion == 'iteration' and iteration == i)):
            if (plot):
                trace0 = Scatter(
                x=X,
                y=Y,
                mode = 'lines',
                name = "equation"
                )

                trace1 = Scatter(
                    x=P,
                    y=FP,
                    mode = 'markers',
                    name = "(p, f(p))",
                    text = labels
                )

                trace2 = Scatter(
                    x=P,
                    y=np.zeros((len(P),), dtype=np.int),
                    mode = 'markers',
                    text = labels,
                    name = "p"
                )
                layout = Layout(
                    xaxis=dict(
                        range=[-5, 5]
                    ),
                    yaxis=dict(
                       range=[-20, 20]
                    )
                )
                data = Data([trace0, trace1, trace2])
                fig = Figure(data=data, layout=layout)

                iplot(fig)
            
            if (output == 'answer'):
                return p
            if (output == 'table'):
                # create a table and return it
                d = {'p' : P}
                return pd.DataFrame(data=d).style.format("{:.10}")
        
        p0 = p
    
    return "Method failed after " + max_iterations + " iterations."

## Secant Algorithm

In [ ]:
'''
To find a solution to f(x) = 0 given initial approximations p₀ and p₁ :
INPUT initial approximations p₀ ,p₁ ; tolerance TOL; maximum number of iterations N₀ .
OUTPUT approximate solution p or message of failure.
Step 1 Set i = 2;
           q₀ = f(p₀ );
           q₁ = f(p₁ ).
Step 2 While i ≤ N₀ do Steps 3–6.
        Step 3 Set p = p₁ − q₁ (p₁ − p₀ )/(q₁ − q₀ ). (Compute pᵢ .)
        Step 4 If |p − p₁ | < TOL then
                OUTPUT (p); (The procedure was successful.)
                STOP.
        Step 5 Set i = i + 1.
        Step 6 Set p₀ = p₁ ; (Update p₀ ,q₀ ,p₁ ,q₁ .)
                   q₀ = q₁ ;
                   p₁ = p;
                   q₁ = f(p).
Step 7 OUTPUT (‘The method failed after N₀ iterations, N₀ =’, N₀ );
        (The procedure was unsuccessful.)
        STOP.
'''

## Secant Code

In [3]:
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
from plotly.graph_objs import *
import numpy as np

init_notebook_mode(connected=True)

def SecantMethod(
    p0,
    p1,
    equation, 
    tolerance=0.000001, 
    max_iterations=50, 
    output='answer', 
    plot=False,
    stopping_criterion='tolerance', 
    iteration=50 
):
    '''
    The Secant Method
    
    Keyword arguments:
    p0 (numeric) -- initial approximation p₀
    p1 (numeric) -- initial approximation p₁
    f (function) -- the function we need to evaluate
    tolerance (double) -- error tolerance (default = 0.000001)
    max_iterations (int) -- number of maximum iterations (default = 50)
    output (string) -- how to output the result (default = 'answer')
                possible values are:
                  - 'answer' : to show the value of "p"
                  - 'table' : to show all the values in tabular form
    plot (bool) -- whether to show plot or not (default=False)
    stopping_criterion (string) -- when to stop the processing (default = 'tolerance')
                possible vaulse are:
                  - 'tolerance' : to stop at a certain tolerance level
                  - 'iteration' : to stop at a certain iteration (must provide value for 'iteration' argument)
    iteration (int) -- on which iteration to stop the processing (default = 50)
    
    Returns:
    
    It will return the value according to the value in 'output' argument.
    If value of output is 'answer', it will return a float. If it is 'table', it will return a DataFrame.
    '''
    # check if 'f' is a function
    if(not callable(f)):
        return "Please provide a function 'f'"
    
    if (plot):
        N = 100
        X = np.linspace(-5, 5, N)
        Y = list(map(f, X))
    
    q0 = f(p0)
    q1 = f(p1)

    if (output == "table" or plot):
            P = list()
            FP = list()
            labels = list()
            P.append(p0)
            P.append(p1)
            FP.append(f(p0))
            labels.append('P0')
    
    for i in range(2, max_iterations):
        p = p1 - q1 * (p1 - p0)/(q1 - q0)
        
        if (output == "table" or plot):
            P.append(p)
            FP.append(f(p))
            labels.append("P"+str(i))
        
        if (abs(p - p1) < tolerance or (stopping_criterion == 'iteration' and iteration == i)):
            if (plot):
                trace0 = Scatter(
                x=X,
                y=Y,
                mode = 'lines',
                name = "equation"
                )

                trace1 = Scatter(
                    x=P,
                    y=FP,
                    mode = 'markers',
                    name = "(p, f(p))",
                    text = labels
                )

                trace2 = Scatter(
                    x=P,
                    y=np.zeros((len(P),), dtype=np.int),
                    mode = 'markers',
                    text = labels,
                    name = "p"
                )
                layout = Layout(
                    xaxis=dict(
                        range=[-5, 5]
                    ),
                    yaxis=dict(
                       range=[-20, 20]
                    )
                )
                data = Data([trace0, trace1, trace2])
                fig = Figure(data=data, layout=layout)

                iplot(fig)
            
            if (output == 'answer'):
                return p
            if (output == 'table'):
                # create a table and return it
                d = {'p' : P}
                return pd.DataFrame(data=d).style.format("{:.10}")
        
        p0 = p1
        q0 = q1
        p1 = p
        q1 = f(p)
    
    return "Method failed after " + max_iterations + " iterations."

## Example 1
### Consider the function f(x) = cosx−x = 0. Approximate a root of *f* using Newton’s Method

In [4]:
import math
from sympy import *

x = Symbol('x')
NewtonsMethod(math.pi/4, cos(x) - x, output="table")

### Consider the function f(x) = cosx−x = 0. Approximate a root of *f* using Secant Method

In [5]:
import math

def f(x):
    return math.cos(x) - x

x = Symbol('x')
SecantMethod(0.5, math.pi/4, cos(x) - x, output="table")

## Exercise Set 2.3

### 1. Let f(x) = x² − 6 and p₀ = 1. Use Newton’s method to find p₂ .

In [4]:
from sympy import *
NewtonsMethod(1, pow(x, 2) - 6, output="table", stopping_criterion="iteration", iteration=2, plot=True)

### 2. Let f(x) = −x³ − cosx and p₀ = −1. Use Newton’s method to find p₂ . Could p₀ = 0 be used?

In [5]:
from sympy import *

x = Symbol('x')
NewtonsMethod(-1, pow(x, 3) - cos(x), output="table", stopping_criterion="iteration", iteration=2, plot=True)

In [47]:
from sympy import *

x = Symbol('x')
NewtonsMethod(0, pow(x, 3) - cos(x), output="table", stopping_criterion="iteration", iteration=2)

ZeroDivisionError: float division by zero

In [52]:
from sympy import *

x = Symbol('x')
equation = pow(x, 3) - cos(x)
df = lambdify(x, equation.diff(x))

df(0)

0.0

#### No, we can't use p₀ = 0, because if we do, then derivate of *f* returns 0 and then we try to divide by that 0 in the formula to obtain p₁ , which causes a division by zero error.

### 3. Let f(x) = x² − 6. With p₀ = 3 and p₁ = 2, find p₃.
### a. Use the Secant method.

In [22]:
def f(x):
    return pow(x, 2) - 6

SecantMethod(3, 2, f, output="table", stopping_criterion="iteration", iteration=3)

### 4. Let f(x) = −x³ − cosx. With p₀ = −1 and p₁ = 0, find p₃ .
### a. Use the Secant method.

In [24]:
import math

def f(x):
    return -pow(x, 3) - math.cos(x)

SecantMethod(-1, 0, f, output="table", stopping_criterion="iteration", iteration=3)

### 5. Use Newton’s method to find solutions accurate to within 10⁻⁴ for the following problems.

### a. x³ − 2x² − 5 = 0, [1,4]

In [6]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=2, equation=pow(x, 3) - 2*pow(x, 2) - 5, tolerance=pow(10, -4), output="table", plot=True)

### b. x³ + 3x² − 1 = 0, [−3,−2]

In [47]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=-3, equation=pow(x, 3) + 3*pow(x, 2) - 1, tolerance=pow(10, -4), output="table")

### c. x − cosx = 0, [0,π/2]

In [48]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=0, equation=x - cos(x), tolerance=pow(10, -4), output="table")

### d. x − 0.8 − 0.2sinx = 0, [0,π/2]

In [49]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=0, equation=x - 0.8 - 0.2*sin(x), tolerance=pow(10, -4), output="table")

### 6. Use Newton’s method to find solutions accurate to within 10⁻⁵ for the following problems.
### a. eˣ + 2⁻ˣ + 2cosx − 6 = 0 for 1 ≤ x ≤ 2

In [30]:
from sympy import *

x = Symbol('x')
NewtonsMethod(p0=(1+2)/2, equation=exp(x) + pow(2, -x) + 2*cos(x) - 6, tolerance=pow(10, -5), output="table")

### b. ln(x − 1) + cos(x − 1) = 0 for 1.3 ≤ x ≤ 2

In [15]:
import sympy

x = sympy.Symbol('x')

NewtonsMethod(p0=(1.3+2)/2, equation=sympy.log(x-1) + sympy.cos(x-1), tolerance=pow(10, -5), output="table")

### c. 2x cos2x − (x − 2)² = 0 for 2 ≤ x ≤ 3 and 3 ≤ x ≤ 4

In [39]:
from sympy import *

x = Symbol('x')

# for  2 ≤ x ≤ 3
NewtonsMethod(p0=(2+3)/2, equation=2*x*cos(2*x) - pow((x-2), 2), tolerance=pow(10, -5), output="table")

In [19]:
from sympy import *

x = Symbol('x')

# for 3 ≤ x ≤ 4
NewtonsMethod(p0=(3+4)/2, equation=2*x*cos(2*x) - pow((x-2), 2), tolerance=pow(10, -5), output="table")

### d. (x − 2)² − lnx = 0 for 1 ≤ x ≤ 2 and e ≤ x ≤ 4

In [20]:
from sympy import *

x = Symbol('x')

# for 1 ≤ x ≤ 2
NewtonsMethod(p0=(1+2)/2, equation=pow((x-2), 2) - log(x), tolerance=pow(10, -5), output="table")

In [21]:
from sympy import *
import math

x = Symbol('x')

# for e ≤ x ≤ 4
NewtonsMethod(p0=(math.e+4)/2, equation=pow((x-2), 2) - log(x), tolerance=pow(10, -5), output="table")

### e. eˣ − 3x² = 0 for 0 ≤ x ≤ 1 and 3 ≤ x ≤ 5

In [22]:
from sympy import *

x = Symbol('x')

# for 0 ≤ x ≤ 1
NewtonsMethod(p0=(0+1)/2, equation=exp(x) - 3*pow(x, 2), tolerance=pow(10, -5), output="table")

In [23]:
from sympy import *

x = Symbol('x')

# for 3 ≤ x ≤ 5
NewtonsMethod(p0=(3+5)/2, equation=exp(x) - 3*pow(x, 2), tolerance=pow(10, -5), output="table")

### f. sinx − e⁻ˣ = 0 for 0 ≤ x ≤ 1, 3 ≤ x ≤ 4 and 6 ≤ x ≤ 7

In [24]:
from sympy import *

x = Symbol('x')

# for 0 ≤ x ≤ 1
NewtonsMethod(p0=(0+1)/2, equation=sin(x) - exp(-x), tolerance=pow(10, -5), output="table")

In [25]:
from sympy import *

x = Symbol('x')

# for 3 ≤ x ≤ 4
NewtonsMethod(p0=(3+4)/2, equation=sin(x) - exp(-x), tolerance=pow(10, -5), output="table")

In [28]:
from sympy import *

x = Symbol('x')

# for 6 ≤ x ≤ 7
NewtonsMethod(p0=(6+7)/2, equation=sin(x) - exp(-x), tolerance=pow(10, -5), output="table")

### 7. Repeat Exercise 5 using the Secant method.
### a. x³ − 2x² − 5 = 0, [1,4]

In [31]:
def f(x):
    return pow(x, 3) - 2*pow(x, 2) - 5

SecantMethod(1, 4, f, tolerance=pow(10, -4), output="table")

## b. x³ + 3x² − 1 = 0, [−3,−2]

In [32]:
def f(x):
    return pow(x, 3) + 3*pow(x, 2) - 1

SecantMethod(-3, -2, f, tolerance=pow(10, -4), output="table")

### c. x − cosx = 0, [0,π/2]

In [33]:
import math

def f(x):
    return x - math.cos(x)

SecantMethod(0, math.pi/2, f, tolerance=pow(10, -4), output="table")

### d. x − 0.8 − 0.2sinx = 0, [0,π/2]

In [34]:
import math

def f(x):
    return x - 0.8 - 0.2*math.sin(x)

SecantMethod(0, math.pi/2, f, tolerance=pow(10, -4), output="table")

### 8. Repeat Exercise 6 using the Secant method.
### a. eˣ + 2⁻ˣ + 2cosx − 6 = 0 for 1 ≤ x ≤ 2

In [35]:
import math

def f(x):
    return math.exp(x) + pow(2, -x) + 2*math.cos(x) - 6

SecantMethod(1, 2, f, tolerance=pow(10, -5), output="table")

### b. ln(x − 1) + cos(x − 1) = 0 for 1.3 ≤ x ≤ 2

In [36]:
import math

def f(x):
    return math.log(x-1) + math.cos(x-1)

SecantMethod(1.3, 2, f, tolerance=pow(10, -5), output="table")

### c. 2x cos2x − (x − 2)² = 0 for 2 ≤ x ≤ 3 and 3 ≤ x ≤ 4

In [37]:
import math

def f(x):
    return 2*x*math.cos(2*x) - pow((x-2), 2)

# for 2 ≤ x ≤ 3
SecantMethod(2, 3, f, tolerance=pow(10, -5), output="table")

In [38]:
import math

def f(x):
    return 2*x*math.cos(2*x) - pow((x-2), 2)

# for 3 ≤ x ≤ 4
SecantMethod(3, 4, f, tolerance=pow(10, -5), output="table")

### d. (x − 2)² − lnx = 0 for 1 ≤ x ≤ 2 and e ≤ x ≤ 4

In [40]:
import math

def f(x):
    return pow((x-2), 2) - math.log(x)

# for 1 ≤ x ≤ 2
SecantMethod(1, 2, f, tolerance=pow(10, -5), output="table")

In [41]:
import math

def f(x):
    return pow((x-2), 2) - math.log(x)

# for e ≤ x ≤ 4
SecantMethod(math.e, 4, f, tolerance=pow(10, -5), output="table")

### e. eˣ − 3x² = 0 for 0 ≤ x ≤ 1 and 3 ≤ x ≤ 5

In [42]:
import math

def f(x):
    return math.exp(x) - 3*pow(x, 2)

# for 0 ≤ x ≤ 1
SecantMethod(0, 1, f, tolerance=pow(10, -5), output="table")

In [43]:
import math

def f(x):
    return math.exp(x) - 3*pow(x, 2)

# for 3 ≤ x ≤ 5
SecantMethod(3, 5, f, tolerance=pow(10, -5), output="table")

### f. sinx − e⁻ˣ = 0 for 0 ≤ x ≤ 1, 3 ≤ x ≤ 4 and 6 ≤ x ≤ 7

In [44]:
import math

def f(x):
    return math.sin(x) - math.exp(-x)

# for 0 ≤ x ≤ 1
SecantMethod(0, 1, f, tolerance=pow(10, -5), output="table")

In [45]:
import math

def f(x):
    return math.sin(x) - math.exp(-x)

# for 3 ≤ x ≤ 4
SecantMethod(3, 4, f, tolerance=pow(10, -5), output="table")

In [46]:
import math

def f(x):
    return math.sin(x) - math.exp(-x)

# for 6 ≤ x ≤ 7
SecantMethod(6, 7, f, tolerance=pow(10, -5), output="table")